.transformedGhost {
  opacity: 0.6;
  border: 2px dashed royalblue;
  box-sizing: border-box;
  pointer-events: none;
}
.transformed {
  opacity: 0.3;
  background-color: royalblue;
  box-sizing: border-box;
  pointer-events: none;
}
.rotationOriginHelper {
  position: absolute;
  pointer-events: none;
  color: royalblue;
}
.originMarker {
  position: absolute;
}
.originMarker p {
  white-space: pre;
  margin: 3px;
}
.originMarker::before {
  content: '+';
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 200%;
  color: var(--key-color-extreme);
}
.rotationMarker {
  width: 0px;
  border: 2px dashed royalblue;
  box-sizing: border-box;
  border-radius: 2.5px;
  transform-origin: top;
}
