:root {
  --bg: white;
  --fg: black;
 --link: royalblue;
  --link-hover: #6d99c6;
  --key-bg-base: #f2f2f2;
  --key-color-base: #6f6f6f;
  --key-color-extreme: #313131;
  --code-bg: rgba(0, 0, 0, 0.1);
  --dialog-bg: white;
}
@media (prefers-color-scheme: dark) {
  body {
    color-scheme: dark;
    --code-bg: rgba(255, 255, 255, 0.1);
    --fg: white;
    --bg: hsl(211, 20%, 18%);
    --bg-rgb: 17,34,51;
    --dialog-bg: hsl(210, 30%, 17%);
    --key-bg-base: hsl(208.2, 23%, 25%);
    --key-color-base: hsl(0, 0%, 90%);
    --key-color-extreme: #e7e7e7;
  }
}

html, body {
  width: 100vw;
	height: 100vh;
	overflow: auto;
	padding: 0;
	margin: 0;

  font-family: sans-serif;
  background-color: var(--bg);
  color: var(--fg);
}

#app-root {
  height: 100vh;
  padding: 0;
}

code {
  background-color: var(--code-bg);
  padding: 0 3px;
  border: none;
  border-radius: 4px;
}

pre {
  background-color: var(--code-bg);
  padding: 15px;
  border-radius: 3px;
}

:disabled, :disabled * {
  cursor: not-allowed;
}

fieldset:disabled {
  opacity: 0.5;
}
