.actions {
  display: flex;
  gap: 4px;
  margin: 5px 0;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: 100vh;
}

.code {
  display: flex;
  padding: 0 15px 15px 15px;
  flex-direction: column;
}

.zoom {
  font-size: 60%;
  font-weight: normal;
}
.zoom input {
  vertical-align: middle;
}

.layout {
  position: relative;
  transform-origin: 0;
}

.placer {
  position: absolute;
}
.placer > * {
  width: 100% !important;
  height: 100% !important;
}

.key {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: monospace;
  font-size: 150%;
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--key-color-base);
  background-color: var(--key-bg-base);
  box-sizing: border-box;
  cursor: default;
}
