.container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 15px;
}

.zoom {
  font-size: 60%;
  font-weight: normal;
}
.zoom input {
  vertical-align: middle;
}

.error {
  color: tomato;
}

.layout {
  position: relative;
  transform-origin: 0;
}

.placer {
  position: absolute;
}
.placer > * {
  width: 100% !important;
  height: 100% !important;
}

.key {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: monospace;
  font-size: 150%;
  border-radius: 5px;
  color: var(--key-color-base);
  background-color: var(--key-bg-base);
}
.transformedGhost {
  opacity: 0.3;
  border: 2px dashed royalblue;
  pointer-events: none;
}

.rotationOriginHelper {
  position: absolute;
  pointer-events: none;
  color: royalblue;
}
.originMarker {
  position: absolute;
}
.originMarker p {
  white-space: pre;
  margin: 3px;
}
.originMarker::before {
  content: '+';
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 200%;
  color: var(--key-color-extreme);
}
.rotationMarker {
  width: 0px;
  border: 2px dashed royalblue;
  box-sizing: border-box;
  border-radius: 2.5px;
  transform-origin: top;
}
