.actions {
  position: fixed;
  display: flex;
  z-index: 10;
  gap: 4px;
  margin: 5px 0;
  padding: 0 15px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: 100vh;
  padding-top: 2em;
  box-sizing: border-box;
}

.code {
  display: flex;
  margin: 0 15px 15px 15px;
  flex-direction: column;
  border-radius: 4px;
}

.code:focus-within {
  outline: 2px solid royalblue;
}

.zoom {
  font-size: 60%;
  font-weight: normal;
}
.zoom input {
  vertical-align: middle;
}

.placer {
  position: absolute;
}
.placer > * {
  width: 100% !important;
  height: 100% !important;
}

.usageGuide {
  font-size: 80%;
  font-style: italic;
  opacity: 0.9;
}