.axesContainer {
  position: relative;
}

.origin {
  cursor: grab;
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: var(--fg);
}
.origin:hover {
  border: 2px solid royalblue;
  box-sizing: border-box;
  transform: translate(-50%, -50%) scale(150%);
}

.handle {
  --length: 100px;
  --thickness: 16px;
  --half-thickness: 8px;
  --offset: -8px, -8px;

  position: absolute;
  top: 0;
  left: 0;

  width: var(--length);
  height: var(--thickness);
  border-radius: var(--half-thickness);

  transform-origin: 0 0;
  transform: translate(var(--offset));
  opacity: 0.6;
}

.handle:hover {
  cursor: grab;
  opacity: 1;
}

.handle[data-axis-x] { background-color: red }
.handle[data-axis-y] {
  background-color: mediumseagreen;
  transform: rotate(90deg) translate(var(--offset));
}